body{
	font-family: 'Helvetica';
}

form{
	border: #005cf2 4px solid;
	float: left;
	padding: 20px;
	display: table-cell;
}

.col{
	display: inline-block;
  	text-align: center;
  	float: left;
	margin-right: 40px;
}